---
import LinkButton from "./LinkButton.astro";

const { links = [] } = Astro.props;
---

<aside class="sidebar">
  <!-- Top buttons -->
  <div class="sidebar-buttons top">
    {
      links.map((link: { href: any; text: any; outline: any }) => (
        <LinkButton
          href={link.href ?? "#"}
          text={link.text}
          outline={link.outline}
        />
      ))
    }
  </div>

  <div class="game-info" id="responsive">
    <p>Zeit</p>
    <span id="time">0</span>
    <p>Züge</p>
    <span id="moves">0</span>
  </div>
</aside>

<style>
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    background: #f8e88c;
    border-right: 1px solid #e0cfcf;
    min-width: 200px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  .sidebar-buttons.top,
  .game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .game-info {
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
  }

  .game-info span {
    display: block;
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: bold;
  }

  .board {
    margin-top: 0;
    align-self: flex-start;
  }
  @media (max-width: 768px) {
    #responsive {
      flex-direction: row;
    }
  }
</style>
