---
const props = Astro.props;
const { href, text, outline = false, type = "button" } = Astro.props;
---

<a {...props} class={outline ? "btn btn-outline-pink" : "btn"}>
  {text}
</a>

<style>
  .btn {
    display: block;
    text-decoration: none;
    background: #e98989;
    border: none;
    padding: 12px 20px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    transition: 0.2s;
  }
  .btn:hover {
    transform: scale(1.05);
  }
  .btn-outline-pink {
    background: white;
    color: #e98989;
    border: 2px solid #e98989;
  }
</style>
