---
import Layout from "../layout/layout.astro";
import Popup from "../components/Popup.astro";
import LinkButton from "../components/LinkButton.astro";
import "../../public/global.css";

import DekoImg from "../../public/Dekoration/gras.png";
import { Image } from "astro:assets";

const time = Number(Astro.url.searchParams.get("time") ?? 0);
const moves = Number(Astro.url.searchParams.get("moves") ?? 0);
---

<Layout>
    <div class="end-page">
        <Popup>
            <h2>GLÜCKWUNSCH! 🎉</h2>

            <p>Zeit: <span>{time}</span> Sekunden</p>
            <p>Züge: <span>{moves}</span></p>

            <div class="button-wrap">
                <LinkButton href="/" text="Erneut spielen" />
                <LinkButton
                    href="/login"
                    text="In Rangliste speichern"
                    outline
                />
            </div>
        </Popup>

        <Image src={DekoImg} alt="Osterdekoration" class="bottom-decoration" />
    </div>
</Layout>

<style>
    .end-page {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100vw;
        position: relative;
    }
</style>
