---
import Layout from "../layout/layout.astro";
import Popup from "../components/Popup.astro";
import LinkButton from "../components/LinkButton.astro";
import "../../public/global.css";

import DekoImg from "../../public/Dekoration/gras.png";
import { Image } from "astro:assets";
import Button from "../components/Button.astro";
---

<Layout>
    <div class="end-page">
        <Popup>
            <h2>GLÜCKWUNSCH! 🎉</h2>

            <p>Zeit: <span id="time-display">0</span> Sekunden</p>
            <p>Züge: <span id="moves-display">0</span></p>
            <input type="text" id="name" placeholder="Name" />

            <div class="button-wrap">
                <LinkButton href="/" text="Erneut spielen" outline />
                <Button id="leaderboardButton" text="In Rangliste speichern" />
            </div>
        </Popup>

        <Image src={DekoImg} alt="Osterdekoration" class="bottom-decoration" />
    </div>
</Layout>

<script is:inline>
    const params = new URLSearchParams(window.location.search);
    const time = params.get("time") ?? 0;
    const moves = params.get("moves") ?? 0;
    const cards = params.get("cards") ?? 0;

    document.getElementById("time-display").textContent = time;
    document.getElementById("moves-display").textContent = moves;

    const Button = document.getElementById("leaderboardButton");

    Button.addEventListener("click", async () => {
        const nameInput = document.getElementById("name");

        const formData = new FormData();
        formData.append("name", nameInput.value);
        formData.append("time", time);
        formData.append("moves", moves);
        formData.append("cards", cards);

        const response = await fetch("/api/leaderboard", {
            method: "POST",
            body: formData,
        });

        const data = await response.json();

        window.location.href = `/leaderboard?cards=${data.cards}`;
    });
</script>

<style>
    .end-page {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100%;
        min-height: 100vh;
        padding: 20px;
        box-sizing: border-box;
    }

    .button-wrap {
        display: flex;
        gap: 12px;
        margin-top: 20px;
    }
    input {
        width: 90%;
        max-width: 400px;
        margin: 12px auto;
        padding: 15px 20px;
        border-radius: 12px;
        border: 2px solid #e0e0e0;
        display: block;
        font-size: 18px;
        transition: 0.2s;
        outline: none;
    }

    input:focus {
        border-color: #e98989;
        box-shadow: 0 0 8px rgba(233, 137, 137, 0.3);
    }
</style>
