---
import Layout from "../layout/layout.astro";
import Popup from "../components/Popup.astro";
import "../../public/global.css";
import LinkButton from "../components/LinkButton.astro";

const time = Astro.url.searchParams.get("time") ?? 0;
const moves = Astro.url.searchParams.get("moves") ?? 0;
---

<Layout>
    <div class="end-page">
        <Popup>
            <h2>GLÜCKWUNSCH! 🎉</h2>

            <p>Zeit: <span>{time}</span> Sekunden</p>
            <p>Züge: <span>{moves}</span></p>

            <LinkButton href="/" text="Erneut spielen" />
            <LinkButton href="/leaderboard" text="In Rangliste speichern" />
        </Popup>

        <img src="/img/Gras.png" class="bottom-grass" />
    </div>
</Layout>

<style>
    .end-page {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        width: 100vw;
    }
</style>
