<div id="end" class="page">
    <div class="popup">
        <h2>GLÜCKWUNSCH! 🎉</h2>
        <p>Zeit: <span id="endTime">0</span> Sekunden</p>
        <p>Züge: <span id="endMoves">0</span></p>
        <button onclick="showPage('start')">Erneut spielen</button>
        <button class="btn-outline-pink" onclick="showPage('login')"
            >In Rangliste speichern</button
        >
    </div>
    <img src="/img/Gras.png" class="bottom-grass" />
</div>

<style>
    .page {
        display: none;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
    }
    .page.active {
        display: flex;
    }
    
</style>