---
import Layout from "../layout/layout.astro";
import Board from "../components/Board.astro";
import Sidebar from "../components/Sidebar.astro";
import "../../public/global.css";

// Sidebar-Link zum Beenden
const sidebarLinks = [{ text: "Beenden", href: `/` }];
---

<Layout>
    <div class="game-page">
        <Sidebar links={sidebarLinks} />
        <Board size={12} anzPair={6} />
    </div>
</Layout>

<style>
    .game-page {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        width: 100vw;
        background: white;
    }
</style>
