---
import Popup from "../components/Popup.astro";
import { Image } from "astro:assets";
import LinkButton from "../components/LinkButton.astro";
import Layout from "../layout/layout.astro";
import "../../public/global.css";
---

<Layout>
    <Popup>
        <h1>Oster-Memory</h1>
        <p>Finde alle passenden Osterpaare</p>

        <div class="button-wrap">
            <LinkButton
                href="/leaderboard-select"
                text="Rangliste anschauen"
                outline
            />
            <LinkButton href="/select" text="Spiel starten" />
        </div>
    </Popup>
    <Image
        src="/Dekoration/decoration.png"
        alt="Osterdekoration"
        class="bottom-decoration"
        width={1920}
        height={1080}
        quality={100}
    />
</Layout>
