---
import Popup from "../components/Popup.astro";
import Button from "../components/Button.astro";
import DekoImg from "../../public/Dekoration/decoration.png";
import { Image } from "astro:assets";
import LinkButton from "../components/LinkButton.astro";
import Layout from "../layout/layout.astro";
import "../../public/global.css";
---

<Layout>
    <Popup>
        <h1>Oster-Memory</h1>
        <p>Finde alle passenden Osterpaare</p>

        <div class="button-wrap">
            <LinkButton href="/select" text="Spiel starten" />
            <LinkButton
                href="/leaderboard-select"
                text="Rangliste anschauen"
                outline
            />
        </div>
    </Popup>
    <Image src={DekoImg} alt="Osterdekoration" class="bottom-decoration" />
</Layout>
