---
export const prerender = false;
import Popup from "../components/Popup.astro";
import Button from "../components/Button.astro";
import DekoImg from "../../public/Dekoration/gras.png";
import { Image } from "astro:assets";
import Layout from "../layout/layout.astro";
import "../../public/global.css";
import LinkButton from "../components/LinkButton.astro";
import { app } from "../firebase/server";
import { getFirestore } from "firebase-admin/firestore";
import type Card from "../components/Card.astro";

interface LeaderboardEntry {
    id: string;
    name: string;
    time: number;
    moves: number;
    cards: number;
}

const db = getFirestore(app);
const categoryParam = Number(Astro.url.searchParams.get("cards") || 12);

const leaderboardRef = db.collection("leaderboard").where("cards", "==", categoryParam);
const leaderboardSnapshot = await leaderboardRef.get();

const leaderboard = leaderboardSnapshot.docs.map(doc => ({
  id: doc.id,
  ...doc.data(),
})) as LeaderboardEntry[];

leaderboard.sort((a,b) => a.time - b.time || a.moves - b.moves);

// Nur Top10
const top10 = leaderboard.slice(0, 10);
---

<Layout>
    <div id="leaderboard" class="page">
        <Popup>
            <h2>Rangliste</h2>
            <table id="leaderboardTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Zeit (s)</th>
                        <th>Züge</th>
                    </tr>  
                </thead>
                <tbody>
                                       
{top10.map((leaderboardEntry) => 
(<tr>
                        <th>{leaderboardEntry.name}</th>
                        <th>{leaderboardEntry.time}</th>
                        <th>{leaderboardEntry.moves}</th>
                    </tr>))
                    }
                </tbody>
            </table>
            <br />
            <div class="button-wrap">
                <LinkButton
                    href="/leaderboard-select"
                    text="Andere Rangliste wählen"
                    outline
                />
            </div>
            <Image
                src={DekoImg}
                alt="Osterdekoration"
                class="bottom-decoration"
            />
        </Popup>

        <style>
            #leaderboardTable {
                border-collapse: separate;
                border-spacing: 10px;
                width: 100%
                margin: 20px auto;
            }
            #leaderboardTable thead th {
                background: #e98989;
                color: white;
                padding: 10px 20px;
                border-radius: 20px;
                font-weight: bold;
                text-align: center;
                min-width: 80px;
            }
            #leaderboardTable tbody td {
                text-align: center;
                padding: 8px 12px;
                font-weight: bold;
            }
        </style>
    </div>
</Layout>
