---
import Popup from "../components/Popup.astro";
import Button from "../components/Button.astro";
import DekoImg from "../../public/Dekoration/gras.png";
import { Image } from "astro:assets";
---
<html>
<head>
    <script src="/global.js" is:inline></script>
</head>
<div id="leaderboardSelect" class="page">
    <Popup>
        <h2>Welche Rangliste möchtest du sehen?</h2>
        <Button onclick="showPage('leaderboard')" text="12 Karten" />
        <Button onclick="showPage('leaderboard')" text="16 Karten" />
        <Button onclick="showPage('leaderboard')" text="24 Karten" />
        <br />
        <Button class="btn-outline-pink" onclick="showPage('start')" text="Zurück" />
    </Popup>
    </div>
    <img src="/img/Gras.png" class="bottom-grass" />
</div>
</html>
<style>
    .page {
        display: none;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
    }
    .page.active {
        display: flex;
    }

</style>
