---
import Popup from "../components/Popup.astro";
import { Image } from "astro:assets";
import Layout from "../layout/layout.astro";
import "../../public/global.css";
import LinkButton from "../components/LinkButton.astro";
---

<Layout>
    <div id="leaderboardSelect" class="page">
        <Popup>
            <h2>Welche Rangliste möchtest du sehen?</h2>

            <div class="button-wrap">
                <div class="button-wrap">
                    <LinkButton href="/leaderboard?cards=12" text="12 Karten" />
                    <LinkButton href="/leaderboard?cards=16" text="16 Karten" />
                    <LinkButton href="/leaderboard?cards=24" text="24 Karten" />
                    <br />
                </div>
                <br />
            </div>
            <div class="back-button">
                <LinkButton href="/" text="Zurück" outline />
            </div>
        </Popup>
    </div>
    <img
        src="/Dekoration/gras.png"
        alt="Osterdekoration"
        class="bottom-decoration"
    />
</Layout>
