---
import Popup from "../components/Popup.astro";
import Button from "../components/Button.astro";
import DekoImg from "../../public/Dekoration/Gras.png";
import { Image } from "astro:assets";
---
<html>
<head>
    <script src="/global.js" is:inline></script>
</head>

<div id="select" class="page">
  <Popup>
    <h2>Mit wie vielen Karten möchtest du spielen?</h2>

    <Button onclick="showPage('game')" text="12 Karten" action="startGameGlobal" value="12" />
    <Button onclick="showPage('game')" text="16 Karten" action="startGameGlobal" value="16" />
    <Button onclick="showPage('game')" text="24 Karten" action="startGameGlobal" value="24" />
    <div class="back-button">
      <Button onclick="showPage('start')" text="Zurück" action="showPage" value="start" outline />
    </div>
  </Popup>
<Image
        src={DekoImg}
        alt="Osterdekoration"
        class="bottom-decoration"
    />
</div>
</html>

<style>
  .page {
    display: none;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .page.active {
    display: flex;
  }
  .bottom-decoration {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
        pointer-events: none;
        object-fit: cover;
    }
</style>
