---
import "../../public/global.css";
import Popup from "../components/Popup.astro";
import Button from "../components/Button.astro";
import DekoImg from "../../public/Dekoration/Gras.png";
import { Image } from "astro:assets";
import LinkButton from "../components/LinkButton.astro";
import Layout from "../layout/layout.astro";
---

<Layout>
  <Popup>
    <h2>Mit wie vielen Karten möchtest du spielen?</h2>

    <div class="button-wrap">
      <LinkButton href={`/game?cards=12`} text="12 Karten" />
      <LinkButton href={`/game?cards=16`} text="16 Karten" />
      <LinkButton href={`/game?cards=24`} text="24 Karten" />
    </div>

    <div class="back-button">
      <LinkButton href="/" text="Zurück" outline />
    </div>
  </Popup>
  <Image src={DekoImg} alt="Osterdekoration" class="bottom-decoration" />
</Layout>
