---
import "../../public/global.css";
import Popup from "../components/Popup.astro";
import LinkButton from "../components/LinkButton.astro";
import Layout from "../layout/layout.astro";
---

<Layout>
  <Popup>
    <h2>Mit wie vielen Karten möchtest du spielen?</h2>

    <div class="button-wrap">
      <LinkButton href="/game1" text="12 Karten" />
      <LinkButton href="/game2" text="16 Karten" />
      <LinkButton href="/game3" text="24 Karten" />
    </div>

    <div class="back-button">
      <LinkButton href="/" text="Zurück" outline />
    </div>
  </Popup>
  <img
    src="/Dekoration/gras.png"
    alt="Osterdekoration"
    class="bottom-decoration"
  />
</Layout>
